.main-menu-text{
    letter-spacing: 0.6em;
}
.main-slider img{
    height: 85vh;
    object-fit: cover;
    object-position: bottom;
}

.slider-card{
    position: relative;
}
.slider-card video{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70%;
    height: 800px;
    max-height: 900px;
}
.slider-card h1 {

    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 70%;
    top: 45%;
    left: 0px;
    z-index: 1;
}

.slider-card .info-block {
    background-color:rgba(255,255,255,0.8);
    position: absolute;
    top: 0px;
    left: 70%;
    z-index: 1;
    width: 30%;
    height: 100%;

}
.info-block p{
    padding: 10px;
    border-bottom: grey solid 1px;
    font-size: 1.1em;
    z-index: 1;
}
.full-window{

}
.section-h100{
    min-height: 100vh;
}
.bg-img-main{
    background-image: url("../public/images/main/kitchen_3_main.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.dark-fon{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #2E2D30;
    opacity: 0.5;
    z-index: 0;
}
.owl-item{
    height: 90%;
}
.owl-item img{
    height: 400px;
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}
.owl-item-square img{

    max-height: 400px;
    width: 100%;
    object-fit: cover;
}
.top-bottom-50{
    margin-bottom: 50px;
    margin-top: 50px;
}
.title-section-white{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    content: "";
}
.title-section-white::before{
    position: absolute;
    top:-55px;
    left: 45%;
    font-size: 8px;
    padding: 30px 0 30px 0;
    content: "__________________________________";
}
.title-section-dark{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    content: "";
}
.title-section-dark::before{
    position: absolute;
    top:-55px;
    left: 45%;
    font-size: 8px;
    padding: 30px 0 30px 0;
    content: "__________________________________";
}
.title-section-offer{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    content: "";
}
.title-section-offer::before{
    position: absolute;
    bottom:-5%;
    left: 0;
    width: 100%;
    font-size: 8px;
    padding: 10px 0 10px 0;
    content: "________________________________";
}
.owl-prev, .owl-next {
    position: absolute;
    top: 40%;
    margin-top: 0px;
    background-color: #2E2D30 !important;
    width: 50px;
    height: 50px;
    border-radius: 25px!important;
}
.owl-prev {
    border: 2px #2E2D30 solid !important;
    left: -20px;
    transition: background-color 0.5s;
}
.owl-prev:after{
    position: absolute;
    left: 0px;
    top: 4px;
    content: url("../public/images/icons/arrow.svg");
    transform: rotate(90deg);
}
.owl-prev:before{
    position: absolute;
    left:20px;
    top: 6px;
    transform: rotate(45deg);
}

.owl-prev:hover{
    color: #ffffff !important;
    background-color: #000000 !important;
    left: -26px;
    transition: background-color 0.5s, left 0.5s;
}
.owl-next {
    border: 2px #2E2D30 solid !important;
    color: #2E2D30;
    right: -20px;
    transition: background-color 0.5s, right 0.5s;
}
.owl-next:after{
    position: absolute;
    right: 0px;
    top: 3px;
    content: url("../public/images/icons/arrow.svg");
    transform: rotate(-90deg);
}
.owl-next:before{

}
.owl-next:hover {
    color: #ffffff !important;
    background-color: #000000 !important;
    right: -25px;
    transition: background-color 0.5s, right 0.5s;
}
